@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'Poppins Regular';
    src: url('/font/Poppins/Poppins-Regular.tff') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins Medium';
    src: url('/font/Poppins/Poppins-Medium.tff') format('woff2');
    font-weight: 500;
    font-style: normal;
}


@font-face {
    font-family: 'Poppins SemiBold';
    src: url('/font/Poppins/Poppins-SemiBold.ttf') format('woff2');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins Bold';
    src: url('/font/Poppins/Poppins-Bold.ttf') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins ExtraBold';
    src: url('/font/Poppins/Poppins-ExtraBold.ttf') format('woff2');
    font-weight: 800;
    font-style: normal;
}